PANDAS BASIC ASSIGNMENT

In [ ]:
QUESTION 1 :
    
import pandas as pd
series = pd.Series([4,8,15,16,23,42])
print(series)

In [ ]:
QUESTION 2 :
    
import pandas
list_variable = [1,2,3,4,"ABC",True,33,4,"EFG",34,56]
print(pandas.Series(list_variable))

In [ ]:
QUESTION 3 :

import pandas as pd
data = {"Name" : ["Alice","Bob","Clair"] , "Age" : [25 , 30 , 27] , "Gender" : ["Female","Male","Female"] }
df = pd.DataFrame(data)
df

In [ ]:
QUESTION 4 :
    
Series is a 1D array or a list while DataFrame is a 2D array which contain rows and columns .
FOR EXAMPLE :
import pandas as pd
data = [2,3,4,5,6,7,8,9]
pd.Series(data)            #this will give a series(1D array) which is similar to a list including indexing also which is not there in a list
pd.DataFrame(data)         #this will give a data frame which will have a structured data stored in the form of rows and columns

In [ ]:
QUESTION 5 :
    
Some common functions that are used to manipulate data in Pandas DataFrame are
df.head() , df.tail() , df.describe() , df.columns , df.value_counts , df.isnull and many more.

In [ ]:
QUESTION 6 :
    
Series is mutable in nature.

In [ ]:


import pandas as pd
data = pd.Series([1,3,5,7,9],[2,4,6,8,10])
df = pd.DataFrame(data)
df